@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;  
}

header {
    border: 1px solid #000;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #9370DB;
}

h1 b{
    text-shadow: 2px 0 0 #000;
    color: #fff;
}

.container {
    margin: 0 15vw 0 15vw;
}

#form-inscricao label {
    line-height: 1.6;
    font-size: 13pt;
}

h1 {
    text-align: center;
}

#vitoria {
    background-color: greenyellow;
}

#empate {
    background-color: yellow;
}

#derrota {
    background-color: red;
}

ul li{
    margin-top: 7px;
    font-size: 13pt;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    text-align: center;
    margin: 10px 0 10px 0;
    border: 10px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    padding: 10px;
    border-radius: 50px;
    background-color: purple;
    color: #FFF;
    width: 30vw;
    align-self: center;
    cursor: pointer;
}

.button:hover {
    background-color: #f9f9f9;
    color: purple;
    border-color: purple;
}

#input-times {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px;
    min-width: 100%;
    border-radius: 10px;
    border: 5px solid purple;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;

}

hr {
    color: purple;
    height: 1px;
    border-width: 0;
    background-color: purple;
}

.tabela-rodadas {
    width: 100%;
    margin-bottom: 20px;
}

.tabela-rodadas tr :first-child {
    width: 10%;
}

.tabela-rodadas tr :nth-child(2), .tabela-rodadas tr :nth-child(6), .tabela-rodadas tr :nth-child(7) {
    width: 20%;
}

.tabela-rodadas tr :nth-child(3), .tabela-rodadas tr :nth-child(4), .tabela-rodadas tr :nth-child(5) {
    width: 5%;
}

.tabela-rodadas tr :nth-child(8) {
    width: 15%;
}

.tabela-rodadas tr th {
    font-size: 1.2rem;
}

.tabela-rodadas tr td {
    text-align: center;
    font-size: 1.1rem;
}

.tabela-rodadas th, .tabela-rodadas td {
    padding: 5px;
}

.tabela-rodadas :first-child th {
    background-color: purple;
    color: #fff;
}

.tabela-rodadas tr:nth-child(even){
    background-color: #CF9FFF;
}

.tabela-rodadas tr:nth-child(odd){
    background-color: #E6E6FA;
}

.hidden {
    display: none;
}